*{
    margin:0;
    padding:0;
    font-family:poppins;
}

.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/konten/background.png);
    background-position:center;
    background-size: cover;
    position:relative;
}

nav{
    display: flex;
    padding: 1.5em 4%;
    justify-content: space-between;
    align-items:center;
}

nav img{
    width: 10em;
}

.link-nav{
    flex:1;
    text-align: right;
}

.link-nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}

.link-nav ul li a{
    color: white;
    text-decoration: none;
    font-size:1em;
}

.link-nav ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s ease;
} 

.link-nav ul li:hover::after{
    width:100%;
}

.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1{
    font-size:7em;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #f44336;
    padding: 15px 40px;
    font-size: 13px;
    position: relative;
    background :  #f44336;
    cursor: pointer;
    margin-right: 0.5em;
}

.btn2{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 40px;
    font-size: 13px;
    position: relative;
    background :  transparent;
    cursor: pointer;
}

.btn1:hover{
    border: 1px solid white;
    background: transparent;
    transition: 0.4s ease;
}

.btn2:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.4s ease;
}

@media(max-width: 700px){
    .textbox h1{
        font-size:3em;
    }
}

/*--------- BODY ---------*/

.body{
    width: 100%;
    margin: auto;
    /* text-align: center; */
    padding-top: 100px;
} 

.kocak{
    text-align:center;
    color: black;
}

.baris{
    margin-top:5%;
    box-sizing: border-box;
}

.kolom-tulisan {
    width: 1650px;
    height: 500px;
    background: black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 250px;
    overflow: auto; /* Menambahkan overflow auto agar gambar bisa diikuti teks */
}

.kolom-tulisan h3 {
    margin-bottom: 15px;
}

.foto1{
    width: 420px;
    height: 260px;
    float: right;  
    margin-right: 20px;
    margin-bottom: 20px; 
}

.foto2{
    width: 420px;
    height: 260px;
    float: left;  
    margin-left: 20px;
    margin-bottom: 20px; 
    padding: 10px;
}

.foto3{
    width: 620px;
    height: 460px;
    float: right;  
    margin-right: 20px; 
    margin-bottom: 20px; 
}

h1, h3, p{
    color: white;
}

.kolom-tulisan2{
    margin-left:12%;
}

.kolom-tulisan1, .kolom-tulisan3{
    margin-left:1%;
    padding-left:35px;
}

.kebalik{
    transform: rotate(180deg);
    margin-top:-0.5rem;
}